@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 230px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 50px;
    list-style-type: none;

}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    text-shadow: 2px 1px #A3A3A3;

}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px 0px 230px;
}

.banner-contents {
    max-width: 585px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-img {
    width: 585px;
}

.about {
    margin: 130px auto;
    background-color: #FFF8F3;
    display: flex;
    justify-content: center;
    padding: 131px 156px;
    max-width: 1140px;
    border-radius: 10px;
}

.about-contents {

    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;

}

.about-title {
    font-size: 35px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    color: #757575;
}

.abt-info {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.abt-info h4 {
    font-weight: bold;
    margin: 0;
}

/* SKill section */
.skill-intro {
    text-align: center;
    max-width: 909px;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 50px lightgrey;
    max-width: 267px;
    max-height: 377px;
    margin: 10px;
}


.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
}

/* 
Font color */
.text-primary {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818
}

.dark-2 {
    color: #474747
}

.dark-3 {
    color: #757575;
}

.dark-4 {
    color: #A3A3A3;
}